@tailwind base;
@tailwind components;
@tailwind utilities;

/* I am broke :( */
div.react-flow__panel:nth-child(4) {
  display: none;
}

/* Don't ask me why */
#full-window {
  height: 100vh;
  width: 100%;
}
